{% extends 'layout.html' %}

{% block title %}
    Option Filter
{% endblock %}


{% block main %}
    <div class="container-fluid mb-3" >
        <h2>Home Page</h2><br>
    </div>
    <div class="container-fluid mb-3" >
        <a class="nav-link" href="/home" style="color: blue;"><h4>University Details Search</h4></a>
        <p>The University Detail Search provides users with comprehensive information about a specific university, including acceptance rates, available programs, state location, and other key details. This tool helps prospective students make informed decisions by offering insights into various institutions.</p>
    </div>
    <div class="container-fluid mb-3" >
        <a class="nav-link" href="/filter" style="color: blue;"><h4>Filter Universities</h4></a>
        <p>The Filtered University Search provides users with a curated list of schools that match their specified criteria, including degree programs, location, and other key attributes. This tool helps users efficiently find universities that align with their academic and personal preferences.</p>
    </div>
{% endblock %}